.BordersList{
    display: flex;
    flex-wrap: wrap;
    margin-top: .5rem;
}

.BordersList .type{
    font-weight: 800;
}

.box-name{
    margin: 0.2rem 1rem;
    padding: .2rem 1rem;
    border-style: none;
    cursor: pointer;
}

@media(max-width:479px){
    .BordersList{
        flex-direction: column;
    }

    .BordersList .type{
        font-weight: 800;
        margin-bottom: .5rem;
    }
}