.RegionType{
    width: 20%;
    border-radius: 16px;
}

.RegionType select, .RegionType option{
    border: none;
    width: 100%;
    padding: 1rem;
}

.RegionType select{
    border-radius: 8px;
    
}

@media(max-width: 479px){
    .RegionType{
        width: 40%;
    }
}
