.nav{
    padding: 2rem 3rem;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.nav button{
    border: none;
    width:2rem;
}

.toggle-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1rem;
    height: 2rem;
    margin-right: 1rem;
}

.icon-theme{
    font-size: 15px;
}

@media (max-width:479px){
    .nav{
        font-size: .7rem;
        padding: 1rem 1rem;
    }

    .nav button{
        width:1.3rem;
    }
}

