.Filters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
}

@media (max-width: 479px){
    .Filters{
        flex-direction: column;
        
    }
}