:root{
  --dark--mode--elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
}

#light, #light button{
  background-color: var(--light-mode-background);
  
}

#dark, #dark button{
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text-light-mode-elements);
}

.App{
  min-height: 100vh;
  
}

a{
  text-decoration: none;
}

#light .card-country, 
#light .SearchBar input, 
#light .SearchBar ::placeholder,
#light .RegionType select,
#light .nav
{
  color: var(--light-mode-text);
  background-color: var(--dark-mode-text-light-mode-elements);
  box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
  
}

#dark .card-country, 
#dark .SearchBar input, 
#dark .SearchBar ::placeholder,
#dark .RegionType select,
#dark .nav,
#dark .back,
#dark .box-name
{
  background-color: var(--dark--mode--elements);
  color: var(--dark-mode-text-light-mode-elements);
}

#light .SearchBar,
#light .RegionType,
#light .back,
#light .box-name{
  box-shadow: 0 8px 24px hsl(210deg 8% 62% / 20%);
}

#dark .SearchBar,
#dark .RegionType{
  box-shadow: 0 8px 24px rgba(64, 68, 71, 0.2);
}

