:root{
  --dark--mode--elements: hsl(209, 23%, 22%);
  --dark-mode-background: hsl(207, 26%, 17%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);
  --dark-mode-text-light-mode-elements: hsl(0, 0%, 100%);
}

#light, #light button{
  background-color: var(--light-mode-background);
  color: var(--light-mode-text);
}

#dark, #dark button{
  background-color: var(--dark-mode-background);
  color: var(--dark-mode-text-light-mode-elements);
}


